* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

canvas {
  background: radial-gradient(
    circle,
    rgba(13, 13, 32, 1) 0%,
    rgba(135, 129, 129, 1) 100%
  );

  position: absolute;
  top: 0;
  left: 0;
}
