* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

canvas {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(70, 69, 99, 1) 100%
  );

  position: absolute;
  top: 0;
  left: 0;
}
